body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif !important;
}

.paprat {
  font-family: 'Roboto', sans-serif !important;
  padding-top: 30px;
  color: rgb(15, 15, 15);
  font-weight: 400;
}
.img-fluid {
  max-width: 100% !important;
  height: auto !important;
}

.table .thead-dark th {
  background-color: #4285f4 !important;
  border-color: #7bbcfd !important;
}
